@media (max-width: 5000px) {
  .xim-movile {
    display: none !important;
  }
  .xim-desktop {
    display: contents;
  }
  .xim-searchcontent { 
    margin-top: 45vh;
  }
  .v-responsive__content {
    color: #fff;
    margin-top: 0px !important;
  }
  .displayNoneSm { 
    padding: 0 0 0 11px;
  }
  .mt-50 { 
    padding-top: 50vh !important;
  }
  h4, .xim-titulo-boton {
    font-family: 'Poppins', 'Roboto', sans-serif!important;
    color: #FFF;
    font-weight: 900!important;
    text-align: center!important;
    margin: 0!important;
    padding: 28px 0 0 0!important;
  }
  .xbtn { 
    background: #2e3891;
    width: 16vw !important;
    height: 10vh !important;
    border-radius: 5px!important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    position: relative!important;
    top: 0!important;
    left: 50%!important;
    padding: 0!important;
    transform: translateX(-50%)!important;
    cursor: pointer;
  }
  .xclub {
    background-image: url(/img/badge_white_18dp.535ad424.svg);
    background-repeat: no-repeat;
    background-position: 16% 53%;
  }
  .xgen {
    background-image: url(/img/groups_white_18dp.87e41014.svg);
    background-repeat: no-repeat;
    background-position: 14% 52%;
  }
  
  .bgCupon {
    align-items: center;
    min-height: 95vh;
    margin: 0!important;
  }
  .xim-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 77vw;
    max-width: 55vw!important;
    padding: 0 !important;
    margin: 0 0 0 22vw !important;
  }
  .xim-search-font {
    font-family: Poppins !important;
    font-size: 12px !important;
    padding: 20px 0!important;
  }
  .xim-small-text { 
    font-size: 0.9rem;
    font-weight: 900;
    color: #1976d2;
    margin: 0 0 0 0!important;
    padding: 0!important;
  }
  .xim-mlr {
    width: 90%;
    margin: 0 14px;
  }
  .CouponBackground {
    min-width: 100%;
    min-height: 95vh;
    background-image: url('../../static/images/bgCuponera.png');
    background-size: cover;
    background-repeat: no-repeat; 
  }
  
  .main-header {
    a {
      text-decoration: none;
    }
    .header-text {
      font-size: 0.75rem;
    }
    .v-toolbar__content {
      // padding-top: 0;
      padding-right: 0;
    }
    .line-separator {
      height: 20px;
      width: 1px;
      background-color: white;
      margin: 0px 5px;
      margin-bottom: 4px;
    }
  }
  .xim-header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 102vw !important;
    z-index: 55 !important;
  }
  .xim-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center;
  }
  .xim-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: auto;
    margin: 0 5px 0 5px !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  }
  .xim-card-header {
    display: block;
  }
  .xim-card-body {
    width: 100vw;
  }
  .xim-label3 {
    font-weight: 900;
    text-align: right;
    color: #000;
    padding: 0 0 0 5px;
  }
  .xim-data {
    font-weight: 900;
    text-align: left;
    color: #000;
    text-align: left;
    padding: 0 0 0 5px;
  }

  .xim-data {
    font-weight: 900;
    text-align: left;
    color: #000;
    text-align: left;
    padding: 0 0 0 5px;
  }
  .xim-texto-resaltado {
    font-weight: 900;
    text-transform: uppercase;
  }
  .xim-svg-icon {
    max-width: 3vw !important;
    max-height: 3vw !important;
    margin: 0 0 0 0.45rem;
  }
  .v-dialog {
    margin: 24px 7px 0 -69px !important;
    width: 77% !important;
  }
  .v-dialog__content {
    width: 100vw !important;
  }
  .xim-my-dialog {
    width: 95vw !important;
    height: 70vh !important;
    overflow-y: auto !important;
    margin: 10vw 5vw !important;
  }
  .grupo-uno {
    width: 45vw;
  }
  .xim-espacio-foot {
    height: 50vh !important;
  }
  .xim-btnpmas {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .xim-logo-resposivo {
    display: flex;
    align-items: center;
    max-width: 300px;
    height: auto;
    margin: 1vh 0 0 0;
  }
  .xim-text-center {
    text-align: center;
    font-weight: 900;
  }
  .xim-base-header {
    color: #b8b8b8;
  }
  .xim-input {
    width: 20vw;
  }
  .xim-35 {
    width: 23vw !important;
  }
  .xim-caja {
    width: 56vw !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  .xim-radio {
    display: block;
  }
  .xim-imagen {
    display: block;
  }
  .mr-20 {
    margin: 0 5vw 0 0;
  }
  .xim-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .xim-horizontal-rigth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
  }
  .xim-centrado-h {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
  }

  .xim-img-resposivo {
    height: auto;
    max-width: 300px;
  }
  .v-application .display-2 {
    height: auto;
    width: 50%;
  }
  .v-application .justify-space-between {
    max-height: 300px;
    overflow: hidden;
  }
  .xim-cajatitulo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    background: var(--var-blue_dark) !important;
    color: var(--var-light);
    border-radius: 15px;
  }
  .xim-titulo-principal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.1em !important;
    line-height: 1.1 !important;
    color: var(--var-light);
    margin: 0 10px 0 0;
    padding: 5px 0 0 0;
  }
  .xim-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 32px !important;
    height: 32px !important;
    color: var(--var-light) !important;
    border: 2px solid white !important;
    padding: 0px 0 0 0 !important;
    border-radius: 50% !important;
  }
}
@media (max-width: 1024px) {
  .xim-movile {
    display: none !important;
  }
  .xim-desktop {
    display: contents;
  }
  .xbtn { 
    background: #2e3891;
    width: 40vw!important;
    border-radius: 5px!important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    position: relative!important;
    top: 0!important;
    left: 50%!important;
    padding: 0!important;
    transform: translateX(-50%)!important;
  }
  .xim-search-font {
    font-family: Poppins !important;
    font-size: 12px !important;
    padding: 20px 0!important;
  }
  .xim-small-text { 
    font-size: 0.9rem;
    font-weight: 900;
    color: #1976d2;
    margin: 0 0 0 0!important;
    padding: 0!important;
  }
  .xim-mlr {
    width: 90%;
    margin: 0 14px;
  }
  .bgCupon {
    align-items: center;
    width: 100vw;
    min-height: 100vh;
  }
  
  .main-header header {
    a {
      text-decoration: none;
    }
    .header-text {
      font-size: 0.75rem;
    }
    .v-toolbar__content {
      // padding-top: 0;
      padding-right: 0;
    }
    .line-separator {
      height: 20px;
      width: 1px;
      background-color: white;
      margin: 0px 5px;
      margin-bottom: 4px;
    }
  }
  .xim-header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 102vw !important;
    z-index: 55 !important;
  }
  .xim-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center;
  }
  .xim-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: auto;
    margin: 0 5px 0 5px !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  }
  .xim-card-header {
    display: block;
  }
  .xim-card-body {
    width: 100vw;
  }
  .xim-label3 {
    font-weight: 900;
    text-align: right;
    color: #000;
    padding: 0 0 0 5px;
  }
  .xim-data {
    font-weight: 900;
    text-align: left;
    color: #000;
    text-align: left;
    padding: 0 0 0 5px;
  }
  .grupo-uno {
    width: 45vw;
  }
  .xim-espacio-foot {
    height: 50vh !important;
  }
  .xim-img-resposivo {
    height: auto;
    max-width: 300px;
  }
  .xim-btnpmas {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .v-application .display-2 {
    height: auto;
    width: 50%;
  }
  .v-application .justify-space-between {
    max-height: 300px;
    overflow: hidden;
  }
  .xim-cajatitulo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    background: var(--var-blue_dark) !important;
    color: var(--var-light);
    border-radius: 15px;
  }
  .xim-titulo-principal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.1em !important;
    line-height: 1.1 !important;
    color: var(--var-light);
    margin: 0 10px 0 0;
    padding: 5px 0 0 0;
  }
  .xim-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 32px !important;
    height: 32px !important;
    color: var(--var-light) !important;
    border: 2px solid white !important;
    padding: 0px 0 0 0 !important;
    border-radius: 50% !important;
  }
}
@media (max-width: 960px) {
  .xim-movile {
    display: none !important;
  }
  .xim-desktop {
    display: contents;
  }
  .xbtn { 
    background: #2e3891;
    width: 40vw!important;
    border-radius: 5px!important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    position: relative!important;
    top: 0!important;
    left: 50%!important;
    padding: 0!important;
    transform: translateX(-50%)!important;
  }
  .xim-search-font {
    font-family: "Poppins" !important;
    font-size: 12px !important;
    padding: 20px 0!important;
  }
  .xim-small-text { 
    font-size: 0.9rem;
    font-weight: 900;
    color: #1976d2;
    margin: 0 0 0 0!important;
    padding: 0!important;
  }
  .xim-mlr {
    width: 90%;
    margin: 0 14px;
  }
  .v-application .mx-2 {
    margin-right: 0px !important;
    margin-left: 150px !important;
  }
  .xclub {
    background-image: url(/img/badge_white_18dp.535ad424.svg);
    background-repeat: no-repeat;
    background-position: 16% 53%;
  }
  .xgen {
    background-image: url(/img/groups_white_18dp.87e41014.svg);
    background-repeat: no-repeat;
    background-position: 14% 52%;
  }
  .bgCupon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 95vh;
    margin: 0;
  }
  h4, .xin-titulo-boton {
    font-family: 'Poppins', 'Roboto', sans-serif!important;
    color: #FFF;
    font-weight: 900!important;
    text-align: center;
    margin: 4.5vw 0 0 0;
  }
  .bgCupon {
    display: flex;
    justify-content: center;
    width: 30vw;
    
  }
  .xim-bannerConfirmacion {
    margin: 50px 0 0 0;
    width: 100%;
  }
  .main-header header {
    a {
      text-decoration: none;
    }
    .header-text {
      font-size: 0.75rem;
    }
    .v-toolbar__content {
      // padding-top: 0;
      padding-right: 0;
    }
    .line-separator {
      height: 20px;
      width: 1px;
      background-color: white;
      margin: 0px 5px;
      margin-bottom: 4px;
    }
  }
  .xim-header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 102vw !important;
    z-index: 55 !important;
  }
  .xim-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center;
  }
  .xim-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: auto;
    margin: 0 5px 0 5px !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  }
  .xim-card-header {
    display: block;
  }
  .xim-card-body {
    width: 100vw;
  }
  .xim-label3 {
    font-weight: 900;
    text-align: right;
    color: #000;
    padding: 0 0 0 5px;
  }
  .xim-data {
    font-weight: 900;
    text-align: left;
    color: #000;
    text-align: left;
    padding: 0 0 0 5px;
  }
  .grupo-uno {
    width: 45vw;
  }
  .xim-espacio-foot {
    height: 50vh !important;
  }
  .xim-btnpmas {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .xim-img-resposivo {
    height: auto;
    max-width: 300px;
  }
  .v-application .display-2 {
    height: auto;
    width: 50%;
    font-size: 1.3em !important;
  }
  .v-application .justify-space-between {
    max-height: 300px;
    overflow: hidden;
  }
  .v-application .justify-space-between {
    overflow: hidden;
  }

  .v-application .headline {
    font-size: 1.3em !important;
  }
  .xim-cajatitulo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    background: var(--var-blue_dark) !important;
    color: var(--var-light);
    border-radius: 15px;
  }
  .xim-titulo-principal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.1em !important;
    line-height: 1.1 !important;
    color: var(--var-light);
    margin: 0 10px 0 0;
    padding: 5px 0 0 0;
  }
  .xim-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 32px !important;
    height: 32px !important;
    color: var(--var-light) !important;
    border: 2px solid white !important;
    padding: 0px 0 0 0 !important;
    border-radius: 50% !important;
  }
}
