$blue_dark: #1110AD;
$blue: #0078DB;
$blue_light: #2069E0;
$blue_light2: #A7B8EA;
$blue_light3: #6b9cfb;
$blue_variant: #4AC2CE;
$background-blue: #e4ecfe;
$yellow: #FFA71A;
$orange: #FF5000;
$orange_dark: #EA4006;
$light: #F7F7F7;
$green: #00ae12;
$ximDark: #2e3891;