.footerLink {
  text-decoration: none;
  color: white;
  margin: 0.2rem 0;
}

.enterprise-container {
  opacity: 0.5;

  span {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    margin: 8px 0;
  }

  .logos_container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }

    .separator {
      height: 30px;
      width: 1px;
      margin: 0 5px;
      background-color: white;
    }
  }
}

.contact {
  .data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;

    i {
      margin: 0 2.5px;
    }

    img {
      margin: 0 5px;
    }
  }
}
